Django>=5.2,<6.0
gunicorn
whitenoise
Pillow
django-crispy-forms
django-widget-tweaks
dj-database-url
psycopg2-binary
django-environ
qrcode
djangorestframework
requests
postgresql
postgresql-contrib
psycopg2-binary
postgresql-client-17